* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-auto-rows: minmax(70px, auto);
    grid-template-columns: 4fr 2fr;
    grid-template-areas: 
        "header nav nav"
        "section-a section-a section-a"
        "section-b section-b section-b"
        "section-c section-c section-c"
        "footer footer footer"
}

header {
    grid-area: header;
}

/*branding*/
#branding a{
    text-decoration: none;
}

/*main-navigation*/
nav {
    grid-area: nav;
    padding: 1em;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

/*section-a*/
#section-a {
    grid-area: section-a;
}

/*section-b*/
#section-b {
    grid-area: section-b;
}

/*section-c*/
#section-c {
    grid-area: section-c;
}

/*footer*/
footer {
    grid-area: footer;
}
