#topic-wrapper {
    width: 90%;
}

ul {
    margin-left: 15px;
}

li > ul {
    margin-left: 15px;
}

.popup {
    color: blueviolet;
}

.popup-text{
    display: none; 
    width: 30vh;
    background-color: rgba(255,255,255,0.7);
    color: black;
    border-radius: 6px;
    border: 1px solid;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    transition: 0.3s;
}

.popup:hover .popup-text{
    display: inline-block;
}
