/* Universal */
@font-face {
    font-family: Asimov;
    src: url("../fonts/Asimov.otf");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

body {
    background-color: #eaeaea;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin-bottom: 10px;
    font-size: 16px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.btn {
    text-decoration: none;
    text-align: center;
    padding: 10px 25px;
    background-color: #30ad63;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    border: 2px solid #30ad63;
}

.btn:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #ffffff;
}

#overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
}

#overlay.active {
    display: block;
}

/* Header */
header {
    background-color: #1a2228;
    border-bottom: 1px solid #29343d;
    color: #ffffff;
    top: 0;
    position: sticky;
    z-index: 1;
}

#headerWrapper, #navHeader {
    background-color: #1a2228;
    padding: 5px 15px;
    align-items: center;
}

.nav-toggler {
    background-color: transparent;
    border: none;
    font-size: 26px;
    color: #ffffff;
    margin-right: 5px;
    cursor: pointer;
}

#branding, #navHeader h1 {
    margin-bottom: 0;
    text-transform: lowercase;
}

#branding a, #navHeader a {
    color: #ffffff;
    text-decoration: none;
    font-family: Asimov;
    font-weight: 100;
    font-size: 26px;
}

/* Navigation */
#nav {
    background-color: #1a2228;
    position: fixed;
    left: -100%;
    top: 0;
    transition: left 0.3s ease-out;
    height: 100%;
    width: 70%;
    overflow-y: auto;
    z-index: 2;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#nav.active {
    left: 0%;
}

#nav ul {
    list-style: none;
}

#nav > ul > li:first-child {
    border-top: 1px solid #29343d;
}

#nav > ul > li {
    padding: 10px 17px;
    border-bottom: 1px solid #29343d;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

#nav img {
    width: 20px;
    margin-right: 15px;
}

#nav > ul > li.current {
    background-color: #222f3e;
}

#nav ul > li > a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

#nav ul > li > a:hover {
    text-decoration: none;
}

#nav .list-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#nav .list-body ul li:first-child {
    margin-top: 10px;
}

#nav .list-body li {
    padding: 10px 35px;
}

/* Main */
#main {
    color: #000000;
    background-color: #ffffff;
}

#progressBar {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    color: #30ad63;
    width: 100vw;
    height: 5px;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 100;
}

#tableOfContents {
    display: none;
}

#mainContent {
    padding: 15px;
}

#mainContent h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#mainContent h2 {
    font-size: 20px;
}

#mainContent ul {
    margin-left: 30px;
}

#mainContent ul > li {
    margin-bottom: 10px;
}

#mainContent hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.popup {
    color: blueviolet;
}

.popup-text {
    display: none;
    width: 40vw;
    background-color: #ffffff;
    color: black;
    border-radius: 6px;
    border: 1px solid;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    transition: 0.3s;
}

.popup:hover .popup-text{
    display: inline-block;
}


/* Section a */
#section-a {
    min-height: 60vh;
    background-color: #1a2228;
    color: #ffffff;
}

#showcase {
    min-height: 60vh;
    width: 100%;
    background: url('../img/showcase.jpg') center/cover no-repeat;
    opacity: 0.9;
    display: table;
}

#showcase-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

#section-a h1 {
    font-size: 46px;
    margin-bottom: 20px;
}

/* Section b */
#section-b {
    background-color: #ffffff;
}

#section-b ul {
    list-style: none;
}

#section-b li {
    padding: 5px 10px;
    display: grid;
    grid-template-columns: minmax(auto, 20%) 1fr;
    background-color: #eaeaea;
}

#section-b li:nth-child(odd) {
    background-color: #ffffff;
}

#section-b .feature-icon {
    justify-content: center;
    display: flex;
}

#section-b .feature-icon img {
    width: 35px;
    align-self: center;
}

#section-b .description {
    padding: 5px;
}

#section-b .description h3 {
    margin-bottom: 5px;
    font-size: 16px;
}

#section-b .description p {
    margin-bottom: 0;
    font-size: 14px;
    padding-right: 5px;
    line-height: normal;
}

/* Section c */
#section-c {
    background-color: #eaeaea;
}

#section-c > .content-wrap {
    padding: 20px 25px;
}

#section-c h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#section-c p {
    font-size: 16px;
    margin-bottom: 0;
}

/* Footer */
#footer {
    background-color: #1a2228;
    color: #ffffff;
    grid-area: footer;
}

#footer > .content-wrap {
    padding: 15px;
}

#footer p {
    text-align: center;
    margin-bottom: 0;
    font-size: 16px;
}

/* Media queries */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #branding a, #navHeader a, .nav-toggler {
        font-size: 32px;
    }

    #nav {
        width: 45%;
    }

    #nav li {
        padding: 10px 19px;
    }

    #nav .list-body li {
        padding: 10px 38px;
    }

    #nav img {
        margin-right: 19px;
    }

    #section-b li {
        grid-template-columns: minmax(auto, 15%) 1fr;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #nav {
        width: 40%;
    }

    #section-a h1 {
        font-size: 52px;
    }

    #section-b {
        background-color: #ffffff;
    }

    #section-b ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    #section-b li {
        background-color: #ffffff;
        padding: 10px;
        display: block;
        text-align: center;
    }

    #section-b .feature-icon {
        margin-bottom: 5px;
    }

    #section-b > .content-wrap {
        padding: 15px 0;
    }

    #section-b .feature-icon img {
        width: 60px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #nav {
        width: 30%;
    }

    .btn {
        padding: 16px 38px;
        font-size: 22px;
    }

    #headerWrapper, #navHeader {
        padding: 10px 15px;
    }

    #branding a, #navHeader a, .nav-toggler {
        font-size: 36px;
    }

    .nav-toggler {
        margin-right: 10px;
    }

    #section-a {
        min-height: 85vh;
    }

    #showcase {
        min-height: 85vh;
    }

    #section-a h1 {
        font-size: 72px;
    }

    #section-b > .content-wrap {
        padding: 45px;
    }

    #section-b .feature-icon img {
        width: 80px;
    }

    #section-b .description h3 {
        font-size: 18px;
    }

    #section-c h2 {
        font-size: 36px;
    }

    #section-c > .content-wrap {
        padding: 70px 150px;
    }

    #section-c p {
        font-size: 18px;
        width: 60%;
        line-height: 2;
    }
}
