/* Universal */
@font-face {
    font-family: Asimov;
    src: url("fonts/Asimov.otf");
}

@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

body {
    background-color: #eaeaea;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin-bottom: 10px;
    font-size: 100%;
}

p {
    font-size: 80%;
    line-height: 1.5;
}

.btn {
    text-decoration: none;
    text-align: center;
    padding: 10px 25px;
    background-color: #30ad63;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 70%;
    border: 2px solid #30ad63;
}

.btn:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #ffffff;
}

/* Header */
header {
    background-color: #1a2228;
    border-bottom: 1px solid #29343d;
    color: #ffffff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    grid-template: header;
    z-index: 10;
}

#header-wrapper {
    background-color: #1a2228;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 80%);
    width: 80%;
    overflow: hidden;
}

#branding {
    padding: 10px 0;
    margin-bottom: 0;
    font-size: 150%;
    text-transform: lowercase;
}

#branding > a {
    color: #ffffff;
    text-decoration: none;
    font-family: Asimov;
    font-weight: 100;
}

#navTogglerWrapper {
    display: flex;
    justify-content: center;
}

#navToggler {
    display: none;
}

label[for="navToggler"] {
    align-self: center;
}

label[for="navToggler"] > div {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 5px;
}

label[for="navToggler"] > div:last-of-type {
    margin-bottom: 0;
}

/* Navigation */
#nav-wrapper {
    font-size: 80%;
    background-color: #1a2228;
    position: fixed;
    left: -100%;
    transition: left 0.3s ease-out;
    height: 100%;
    width: 80%;
    overflow: scroll;
    z-index: 10;
}

#navToggler:checked ~ header > #nav-wrapper {
    left: 0;
}

#navList ul {
    list-style: none;
}

#navList li:first-child {
    border-top: 1px solid #29343d;
}

#navList li {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 80%);
    border-bottom: 1px solid #29343d;
}

#navList .icon {
    display: flex;
    justify-content: center;
}

#navList .icon > img {
    width: 20px;
    align-self: center;
}

#navList li.current > a {
    color: #00a8f8;
}

#navList li > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 130%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

#navList li > a:hover {
    color: #00a8f8;
    text-decoration: none;
}

#container .offset {
    position: fixed;
    background-color: #000000;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.1s linear;
    overflow: hidden;
}

#navToggler:checked ~ #container > .offset {
    opacity: 0.5;
    z-index: 1;
}

/* Main */
#main {
    color: #000000;
    grid-area: main;
}

/* Section a */
#section-a {
    min-height: 60vh;
    background-color: #1a2228;
    color: #ffffff;
}

#showcase {
    min-height: 60vh;
    width: 100%;
    background: url('img/showcase.jpg') center/cover no-repeat;
    opacity: 0.9;
    display: table;
}

#showcase-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

#section-a h1 {
    font-size: 250%;
    margin-bottom: 20px;
}

/* Section b */
#section-b {
    background-color: #ffffff;
}

#section-b ul {
    list-style: none;
}

#section-b li {
    padding: 5px 10px;
    display: grid;
    grid-template-columns: minmax(auto, 20%) 1fr;
    background-color: #eaeaea;
}

#section-b li:nth-child(odd) {
    background-color: #ffffff;
}

#section-b .feature-icon {
    justify-content: center;
    display: flex;
}

#section-b .feature-icon img {
    width: 35px;
    align-self: center;
}

#section-b .description {
    padding: 5px;
}

#section-b .description h3 {
    margin-bottom: 5px;
    font-size: 90%;
}

#section-b .description p {
    margin-bottom: 0;
    font-size: 90%;
    padding-right: 5px;
    line-height: normal;
}

/* Section c */
#section-c {
    background-color: #eaeaea;
}

#section-c > .content-wrap {
    padding: 20px 25px;
}

#section-c h2 {
    font-size: 110%;
    text-align: center;
}

#section-c p {
    font-size: 90%;
    margin-bottom: 0;
    text-align: justify;
}

/* Sidebar */
#sidebar {
    grid-row: 1;
    grid-column: 1 / 3;
    position: relative;
    left: -100%;
    transition: left 0.2s ease-out;
    display: grid;
    grid-template-columns: 95% 5%;
}

#sidebarList {
    background-color: #ffffff;
}

.arrow {
    align-self: center;
}

#sidebarShowArrow {
    grid-row: 1;
    grid-column: 1;
}

#sidebarShowArrow::after {
    content: '▶';
}

#sidebarHideArrow::after {
    content: '◀';
}

#sidebarToggler {
    display: none;
}

#sidebarToggler:checked + aside {
    left: 0%;
}

#main-topic-wrapper {
    opacity: 0;
    background-color: #696969;
    z-index: -1;
    grid-row: 1;
    grid-column: 1 / 4;
    transition: opacity 0.2s ease-out;
}

#sidebarToggler:checked ~ #main-topic-wrapper {
    opacity: 0.7;
}

/* Main-Topic */
#main-topic {
    grid-row: 1;
    grid-column: 2 / 4;
}

/* Footer */
#footer {
    background-color: #1a2228;
    color: #ffffff;
    grid-area: footer;
}

#footer > .content-wrap {
    padding: 15px;
}

#footer p {
    text-align: center;
    margin-bottom: 0;
    font-size: 70%;
}

/* Media queries */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* Header */
    #header-wrapper {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 85%);
        width: 80%;
    }

    /* Navigation */
    #navList li {
        grid-template-columns: 1fr minmax(auto, 85%);
    }

    /* Section B */
    #section-b {
        background-color: #ffffff;
    }

    #section-b ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    #section-b li {
        background-color: #ffffff;
        padding: 10px;
        display: block;
        text-align: center;
    }

    #section-b .feature-icon {
        margin-bottom: 5px;
    }

    #section-b .feature-icon img {
        width: 35px;
    }

    #section-b .description h3 {
        font-size: 65%;
    }

    #section-b .description p {
        font-size: 65%;
        padding-right: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Global */
    .btn {
        padding: 10px 30px;
        font-size: 90%;
    }

    /* Header */
    #branding {
        padding: 15px 0;
    }

    #branding > a {
        font-size: 150%;
    }

    #navList {
        font-size: 90%;
    }

    #navList .icon > img {
        width: 25px;
    }

    /* Section A */
    #section-a h1 {
        font-size: 300%;
    }

    /* Section B */
    #section-b > .content-wrap {
        padding: 15px 0;
    }

    #section-b .feature-icon img {
        width: 60px;
    }

    #section-b .description h3 {
        font-size: 90%;
    }

    #section-b .description p {
        font-size: 90%;
    }

    /* Section C */
    #section-c > .content-wrap {
        padding: 40px 50px;
    }

    #section-c h2 {
        font-size: 150%;
    }

    #section-c p {
        font-size: 100%;
    }

    /* Footer */
    #footer p {
        font-size: 90%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Global */
    .btn {
        padding: 20px 60px;
        font-size: 130%;
    }

    /* Header */
    header {
        border-bottom: 0;
        display: grid;
        grid-template-columns: 1fr minmax(auto, 80%);
        background-color: #1a2228;
    }

    #header-wrapper {
        display: block;
        width: 100%;
        text-align: center;
    }

    #navTogglerWrapper {
        display: none;
    }

    #nav-wrapper {
        font-size: 80%;
        background-color: #1a2228;
        position: relative;
        left: 0;
        transition: none;
        z-index: 1;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #navList li:first-child {
        border: 0;
    }

    #navList li {
        display: inline-block;
        border: none;
        padding: 0 20px;
    }

    /* Section A */
    #section-a {
        min-height: 95vh;
    }

    #showcase {
        min-height: 95vh;
    }

    #section-a h1 {
        font-size: 600%;
        margin-bottom: 40px;
    }

    #showcase-content {
        padding: 50px;
    }

    /* Section B */
    #section-b > .content-wrap {
        padding: 30px 0;
    }

    #section-b .feature-icon img {
        width: 80px;
    }

    #section-b .description h3 {
        font-size: 120%;
    }

    #section-b .feature-icon {
        margin-bottom: 15px;
    }

    #section-b .description p {
        font-size: 100%;
    }

    /* Section C */
    #section-c > .content-wrap {
        padding: 70px 90px;
    }

    #section-c h2 {
        font-size: 200%;
        margin-bottom: 20px;
    }
}
