* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

body.horizontal-grid {
    display: grid;
    grid-auto-rows: minmax(70px, auto);
    grid-template-areas:
        "header"
        "section-a"
        "section-b"
        "section-c"
        "footer";
}

body.topic-grid {
    display: grid;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: header;
    background-color: #2C3A47;
    padding: 20px;
}

/* Branding */
#branding a {
    text-decoration: none;
    color: #ffffff;
    text-transform: lowercase;
    font-size: 150%;
    font-weight: 200;
}

/* Main navigation */
nav {
    align-self: center;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    text-align: center;
    justify-content: right;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

/* Section-A */
#section-a {
    grid-area: section-a;
    min-height: 550px;
    background: url('img/showcase.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
}

#section-a h1 {
    font-size: 600%;
    padding: 150px 0;
    text-transform: lowercase;
}

/* Section B */
#section-b {
    display: grid;
    justify-content: center;
    min-height: 100px;
    background-color: rgb(234, 234, 234);
}

#section-b ul {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style-type: none;
}

#section-b li {
    padding: 20px;
}

.feature {
    align-items: center;
    text-align: center;
}

.feature img {
    width: 100px;
}

/* Section-C */
#section-c {
    grid-area: section-c;
    padding: 40px;
}

/* Two-column-container */
#two-column-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 500px;
    background: rgb(234, 234, 234);
}

#side-bar {
    color: #ffffff;
    padding: 20px;
}

#side-bar .card {
    margin-bottom: 5px;
}

#side-bar .accordion {
    width: 100%;
    background-color: rgb(44, 48, 149);
    border: none;
    padding: 10px;
    color: #ffffff;
    font-size: 130%;
    cursor: pointer;
}

#side-bar .accordion:hover, #side-bar .accordion:active {
    background-color: #2C3A47;
    transition: 0.2s;
}

#side-bar .accordion:focus {
    outline: none;
}

#side-bar .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
}

#side-bar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#side-bar li {
    padding: 10px;
    margin: 0;
    text-align: center;
    font-weight: lighter;
    font-size: 80%;
}

#overview .accordion, #overview .panel {
    background-color: #2d4895;
}

#http .accordion, #http .panel {
    background-color: #952c2e;
}

#url .accordion, #url .panel {
    background-color: #639633;
}

#html .accordion, #html .panel {
    background-color: #966130;
}

#csws .accordion, #csws .panel {
    background-color: #31967c;
}

#ssws .accordion, #ssws .panel {
    background-color: #952e61;
}

#webSecurity .accordion, #webSecurity .panel {
    background-color: #31964a;
}

#advancedTopics .accordion, #advancedTopics .panel {
    background-color: #603095;
}

/* Main Content */
main {
    padding: 20px 30px;
}

main #topic-wrapper {
    background-color: #ffff;
    padding: 40px;
    border-radius: 1%;
}

#topic-wrapper h1 {
    margin-bottom: 20px;
}

#topic-wrapper p {
    margin-bottom: 20px;
}

#topic-wrapper p:last-child {
    margin-bottom: 0;
}

/* Footer */
footer {
    grid-area: footer;
    background-color: #2C3A47;
    color: #ffff;
    padding: 40px;
    text-align: center;
}

.highlight {
    background-color: #2C3A47;
}